// Breakpoints: see tailwind.config.js

// Colors: see tailwind.config.js

// Layout

$bar-height: 72px;
$touch-target: 56px;

$landscape-sidebar-width: 80px;
$tablet-sidebar-width: 240px;
$laptop-sidebar-width: 280px;


// Spacing

$padding-sm: 8px;
$gap-sm: 8px;

$padding-md: 16px;
$gap-md: 16px;